
.equipe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin-top: 2em;
    padding: 2em 0;
}

.title-equipe {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 2.5em;
    color: #fff;
    margin: 1em;
    text-align: center;
}

.doctors {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4em 2em;
    padding: 0 4em;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
}

.doctor {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    padding: .6em;
    max-width: 18em;
    height: 14rem;
    margin: 0 auto;
}

.doc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .8em;
    padding: 0 .4em;
    margin-bottom: .3em;
    width: 100%;
    max-height: 100%;
    text-align: center;
}

.doctor-details {
    gap: 0.6em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.doctor-name,
.especialist {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    color: #29957e;
    text-align: center;
}

.icon-doc {
    font-size: 3em;
    padding: 0.15em;
    color: #29957e;
}

.doc-img {
    border-radius: 50%;
    width: 5.5em;
    height: 5.5em;
    object-fit: cover;
    image-resolution: 100px;
}

.doctor-desc {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-size: .9em;
    text-align: center;
    color: #29957e;
}

@media (max-width: 1024px) {
    .equipe {
        min-height: fit-content;
        padding-bottom: 2em;
    }

    .title-equipe {
        font-size: 2em;
        text-align: center;
        margin: 1em;
    }

    .doctors {
        grid-template-columns: repeat(2, 1fr);
        gap: 3em;
        padding: 0 2em;
        max-width: 800px;
    }
}

@media (max-width: 768px) {
    .equipe {
        min-height: fit-content;
        padding-bottom: 2em;
    }

    .title-equipe {
        font-size: 2em;
        text-align: center;
        margin: 1em;
    }

    .doctors {
        grid-template-columns: 1fr;
        gap: 2em;
        padding: 0 1em;
        max-width: 400px;
    }

    .doctor {
        height: auto;
        max-width: 100%;
    }
}