
.equipe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../images/bg.jpg');
    height: 80vh;
    margin-top: 2em;
    padding-bottom: 2em;
}

.title-equipe{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 2.5em;
    color: #fff;
    margin: 1em ;
}
.doctors{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
}

.doctor{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    padding: .5em;
    max-width: 18em;
    max-height: 13rem;
}

.doc{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: .3em;
    border: 1px solid black;
    max-width: 100%;
    max-height: 100%;
}

.doctor-details{
    gap: 0.6em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.doctor-name,
.especialist{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    color: #29957e;
}

.icon-doc{
    font-size: 3em;
    padding: 0.15em;
    color: #29957e;
}
.doc-img{
    width: 6em;
    height: 90%;
}

.doctor-desc{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    text-align: center;
    color: #29957e;
}