*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

 #scrollIndicator {
    position: fixed;
    top: 0;
    left: 0;
    height: 4px;
    background: #23796d;
    width: 0%;
    z-index: 9999;
}