/* Reset */


.nav-a {
  font-family: Arial, sans-serif;
  font-family: 'Montserrat', sans-serif;
}
 
.cachorrojpg-img {
  max-width: 100%;
  height: auto;
}

/* NAVBAR */
.topo {
  position: fixed;
  top: 0;
  width: 100%;
  height: 153.5px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.container {
  width: 100%;
  max-width: 1200px;
   padding: 0 10px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 100px;
  font-size: 1.5rem;
  color: #0a5d25;
}

.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.nav-links li a {
  text-decoration: none;
  color: #0a5d25;
}

#menu-toggle {
  display: none;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 19px;
  transition: color 0.3s;
}

.nav a:hover {
  color: #0a5d25;
}

/* Estilo do menu hamburguer */
.menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 22px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 999;
}


.menu-toggle .bar {
  height: 4px;
  width: 100%;
  background-color: #7e8380; 
  border-radius: 2px;
}

/* Estilo base da navbar */
.nav ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

.nav.active{
  display: flex;
}

/* BANNER */
.banner {
  width: 100%;
  height: 90vh; /* tela inteira */
  /*background: url('../images/fundo.jpeg') no-repeat;*/
  /*teste*/
  background: url('../images/fundocachorro.jpg') no-repeat; /* coloquei cachorro na imagem do fundo*/
  background-size: 120%;      
  background-position: 20% 90%;  
  position: relative;
  display: flex;
  align-items: center;

  overflow: hidden; 
}

.conteudo-banner {
  margin-top: 130px; 
  z-index: 2;
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 2;
  padding-top: 120px;
  align-items: center; /* Centraliza TUDO horizontalmente */
  text-align: center;
  position: relative; /* add */
  bottom: 1%;
  left: 30%; /* add */
  transform: translateX(-50%); /* add */
  width: 80%; /* add */
  max-width: 800px; /* add */
  
}


.banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 1;
}
.conteudo-banner h1 {
  line-height: 1.4;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  line-height: 1.4;
}

.texto-cuide {
  color: #ffffff;
  white-space: nowrap;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;         
  font-weight: 700;        
}

.texto-amor {
  color: #ffffff;
  font-weight: 300;     
  font-style: italic;
  font-family: 'Montserrat', sans-serif;
}

.btn-contato { /*botao do banner*/
  display: inline-flex;
  align-items: center;
  margin-top: 8px;
  gap: 8px; 
  padding: 4px 15px;
  background-color: #00bf63;
  color: white;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
  width: 140px;  
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  font-size: 18px;
  font-weight: 350;
}

.btn-contato span {
  font-size: 1.8rem; 
  font-weight: 10;
  font-style: italic;
}

.btn-contato:hover {
  background-color: #00bf63;
}

.icone-whats {
  height: 20px;
  margin-right: 10px;
}

.cachorro-img {
  position: absolute;
  right: 80px;
  bottom: 0;
  height: 440px;
  z-index: 1;
}

/* FOOTER */
.footer-titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  font-weight: bold;
  color: #29957e; 
  margin-bottom: 10px;
  gap: 10px; 
}

.footer-titulo img {
  width: 43px;
  height: 33px;
}


.footer-legenda {
color: #29957e;
}

.footer-container {
  display: flex;
  justify-content: center; 
  align-items: flex-start;
  gap: 60px;   
  flex-wrap: nowrap;    
  padding: 20px 0;
  font-family: 'Montserrat', sans-serif;
}

.footer-item {
  text-align: center;
  max-width: 220px; 
  font-family: 'Roboto', sans-serif;
}

.footer-item img {
  display: block;
  margin: 0 auto 10px;
  max-width: 40px;
}

.footer-item h3 {
  margin-bottom: 8px;
  font-size: 15px;  
  font-weight: 400; 
  color: #000000; 
}

.footer-item p, 
.footer-item a {
  font-size: 12px; 
  
  color: #333;
  text-decoration: none;
}

.contato-item {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

.footer-item i {
  font-size: 32px;
  color: #29957e;
  margin-bottom: 10px;
  flex-shrink: 0; 
}

.icon {
  height: 20px;
}

@media (max-width: 1024px) and (orientation: landscape) { /*celular deitado*/
  .conteudo-banner h1 {
    font-size: 2rem; /* diminui o tamanho da fonte */
    text-align: center;
    padding-left: 20px; /* empurra o texto mais pra esquerda */
  }

  .conteudo-banner {
    align-items: flex-start;
    margin-left: 8%;
    margin-bottom: 4%;
    width: 100%;
    max-width: 300px;  /* opcional, para limitar o tamanho máximo */
    margin-left: 20px; /* opcional, para dar afastamento da borda esquerda */
    display: inline-flex;
    justify-content: center; /* centraliza o conteúdo dentro do botão */
    align-items: center;
    padding: 10px 20px;
    gap: 3px;
  } 
}


/* MOBILE */
@media (max-width: 1024px) {
  .menu-toggle {
    display: flex;
  }

  .nav {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: white;
    position: absolute;
    top: 130px; 
    left: 0;
    width: 100%;
    padding: 1rem 0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 998;
  }

  .nav.active {
    display: flex;
  }

  .nav ul {
    flex-direction: column;
    gap: 1rem;
  }

  .nav ul li {
    width: 100%;
    text-align: center;
  }
}

@media (min-height: 900px) {
  .cachorro-img {
    top: 50px; 
  }
}

h1 {
  font-size: 90px;
}

@media (max-width: 768px) {
  .banner {
    height: 250px; 
    justify-content: flex-start; 
    padding-left: 20px; 
  }

  .banner-conteudo {
    text-align: left;
    font-size: 1.2rem; 
    max-width: 90%;
    z-index: 1000;
  } 
}

@media (max-width: 768px) {
  .cachorro-img {
    position: relative;
    display: block;
    margin: 30px auto 0 auto;
    left: 265px;
    right: unset;
    transform: none;
    width: 60px !important; 
    margin-left: 20px; 
    
  }
}

@media (max-width: 768px) {
  .banner {
    background-position: 28% 100% !important; /* empurra a imagem mais pra direita / arrumei cachoror mobile*/
    height: 35vh; 
    background-position: center center; 
    background-size: cover;
  }
}

@media (max-width: 768px) {

  
  .logo img {
    margin-left: 0;
  }

  .navbar {
    padding-left: 10px;
  }

  .logo {
    margin: 0;
    padding: 0;
  }

  /* GERAL */
  .container {
    width: 100%;
  max-width: 1200px;
  padding: 0 10px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

  .nav ul {
    flex-direction: column;
    gap: 10px;
  }

  .topo {
    height: auto;
    padding: 20px 0;
    position: relative;
  }

  
  .logo {
    height: 80px;
    margin-bottom: 10px;
  }

  /* BANNER */
  .banner {
    margin-top: 0;
    height: 25vh;
    flex-direction: column;
    background-size: 150%;
    background-position: left bottom;
    padding: 60px 20px 40px;
    text-align: center;
  }

  .conteudo-banner {
    padding: 0;
    margin-top: 0;
    
    right: 70px; /*escrita branca mobiel*/
    top: 20px;
    
    
  }

  .conteudo-banner h1 {
    font-size: 10px;
    
  }

  .texto-cuide {
    font-size: 24px;
  }

  .texto-amor {
    font-size: 24px;
  }

  .btn-contato {
    width: auto;
    padding: 10px 20px;
    font-size: 14px;
    margin-top: 20px;
    
    
  }

  .btn-contato span {
    font-size: 16px;
    
    
  }

  .button-contato { /*botao contato do banner*/
    width: 100%;
    max-width: 300px;  /* opcional, para limitar o tamanho máximo */
    margin-left: 20px; /* opcional, para dar afastamento da borda esquerda */
    display: inline-flex;
    justify-content: center; /* centraliza o conteúdo dentro do botão */
    align-items: center;
    padding: 10px 20px;
    gap: 3px;
  }

  .cachorro-img {
    position: absolute;
    
    bottom: auto;
    width: 220px;
    right: 1px;
    height: auto;
    bottom: 30px;
    margin: 10px auto 0 auto;
    transform: none;
  }

  .btn-contato { /* do banner*/
  display: inline-flex;
  align-items: center;
  margin-top: 8px;
  gap: 8px; 
  padding: 4px 15px;
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  background-color: #00bf63;
  color: white;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
  width: 95px; 
  font-size: 10px;
  font-weight: 350;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-container .footer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
  }

  .footer-container .footer-item h3,
  .footer-container .footer-item p {
    display: none; 
  }

  .footer-container .footer-item i {
    font-size: 28px;
    color: #29957e; 
    margin: 0 10px;
  }

  .footer-container {
    flex-direction: row;
    justify-content: center;
    gap: 24px;
  }

  .footer-legenda p {
    display: block;
    margin-top: 20px;
    font-size: 14px;
    padding: 0 10px;
  }
  .footer-legenda {
    display: none;
  }

  .frase-mobile {
    display: block;
    color: #29957e;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    margin: 0 auto;
  }

  .frase-mobile .linha2 {
    display: inline-block;
    margin-top: 4px;
    text-align: center;
  }

  .footer-container .footer-item i {
    font-size: 50px;
    color: #29957e; 
    margin: 0 10px;
  }

  .footer-titulo {
    color: #29957e;
  }
  .frase-mobile {
    color: #29957e;
  }
}

@media (max-width: 768px) {
  .footer-legenda {
    display: none;
  }

  .frase-mobile {
    display: block;
    color: #29957e;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    margin: 0 auto;
  }

  .frase-mobile .linha2 {
    display: inline-block;
    margin-top: 4px;
    text-align: center;
  }

  .footer-container .footer-item i {
    font-size: 50px;
    color: #29957e; /* azul dos ícones */
    margin: 0 10px;
  }

  .footer-titulo {
    color: #29957e;
  }
  .frase-mobile {
    color: #29957e;
  }
}

@media (max-height: 500px) { /*  CSS para reduzir espaçamento e fonte da navbar quando deita o celular*/
  .topo {
    padding: 10px 20px;
    height: auto; /* se tiver height fixo, melhor remover ou ajustar */
  }

  .topo nav ul {
    gap: 12px; /* diminui espaçamento entre os itens */
  }

  .topo nav ul li a {
    font-size: 0.85rem; /* diminui a fonte dos links */
  }
}

/* Pequenas telas (ex iPhone SE) */
@media (max-width: 480px) {
  .conteudo-banner h1 {
    margin-top: 1px; /* afasta mais do topo */
    padding-left: 20px !important;
    text-align: center;
  }

  .texto-cuide {
    font-size: 20px;
  }

  .texto-amor {
    font-size: 18px;
  }

  .btn-contato span {
    font-size: 14px;
  }
}