
#servicos {
    font-family: "Montserrat", sans-serif;
    display: flex;
    align-items: center;
    padding: 40px;
    background-color: #fff;
    max-width: 1200px; 
    margin: 0 auto; 
    overflow-x: hidden;
    position: relative;
}

#servicos .imagem {
    z-index: 1;
    position: relative;
    flex-shrink: 0;
    flex-basis: 54%;
}

#servicos .imagem img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    margin-left: 0;
    display: block;
}

#servicos .conteudo {
    z-index: 2;
    background-color: #23796d;
    border-radius: 20px;
    color: white;
    padding: 30px;
    position: relative;
    flex-basis: 55%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-left: -10%;
    flex-shrink: 0;
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#servicos .conteudo h2{
    margin-left: 20px;
    font-family: "Montserrat", sans-serif;
} 


#servicos .conteudo h3 {
    list-style-position: inside;
    padding: 5px;
    margin-top: 15px;
    margin-left: 20px;
    font-family: "Montserrat", sans-serif;
}

#servicos .conteudo ul {
    list-style-position: inside;
    padding: 10px;
    margin-top: 15px;
    margin-left: 20px;
    font-family: "Montserrat", sans-serif;
}

#servicos .conteudo li {
    list-style-position: inside;
    padding: 1px;
    font-family: "Montserrat", sans-serif;
}


#servicos .icones {
    z-index: 3;
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 100px;              
    padding-top: 30px;
    position: relative;
    left: -12%; 
    top: -7px;
}

#servicos .icones i {
    font-size: 70px;
    color: #ffffff;
}

@media (max-width: 1220px){
    #servicos .icones {
        display: none;
    }
}

@media (max-width: 1024px) {
    #servicos {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding: 40px 20px; 
        background-size: cover;
        background-position: center;
    }

    #servicos .conteudo {
        width: 80%;
        height: auto;
        margin-left: 0;
        text-align: center;
        flex-basis: auto; 
        background-color: #fff;
        border-radius: 15px; 
        padding: 30px;
        display: block;
        color: #23796d;
    }

    #servicos .conteudo ul {
        display: block;
        text-align: left;
        list-style-position: inside;
        margin: 0 auto 20px auto;
        max-width: 370px; 
    }

    #servicos .imagem {
        display: none; 
    }

    #servicos .icones {
        display: none;
    }
}

@media (max-width: 768px) {
    #servicos {
        padding: 20px;
        background-size: cover;
        background-position: center;
        background-attachment: fixed; 
    }

    #servicos .conteudo {
        width: 100%;
        box-shadow: none;
        background-color: #fff; 
        border-radius: 15px; 
    }
}